QDRANT_URL=http://192.168.86.179:6333
QDRANT_API_KEY=

INFERENCE_BASE_URL=http://192.168.86.179:30180
EMBEDDINGS_BASE_URL=http://192.168.86.179:30181

COLLECTION_NAME=taixing_knowledge
DATA_DIR=./data
VECTOR_SIZE=1024
BATCH_SIZE=20
ENV=dev